.social-login
    button.social-lgoin--github
        span
            i.fab.fa-github
        |Continue width Github
    button.social-lgoin--facebook
        span
            i.fab.fa-facebook
        |Continue width Facebook